submissions
temp
syllabus
texts 
new_material

Getting started with iPython Notebook.ipynb

*.aux
*.log
*.gz
*.pyc*
*.eml*
.idea*
*.m
.DS*
*__pycache*
*.ipynb_checkpoints*
*.webloc*
*.pages
*.rtf
*solution*
